
body {
    font-family: 'Open Sans', sans-serif;
    color: #858585;
    font-size: 16px;
    font-weight: 600;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.navbar__menu {
    display: flex;
    list-style-type: none;
    padding: 0; margin: 0;
}
.navbar__menu__item {
    margin-right: 15px;
}

.navbar__menu__link {
    font-size: 14px;
    color: #4a4a4a;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar__menu__link:hover, .navbar__menu__link.is-active {
    color: #9b9b9b;
}

.button {
    border-radius: 20px;
    background-color: #2086fb;
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    padding: 10px 20px;
}

/* BANNER */
.banner {
    background-image: url(../img/hero.jpg);
    text-align: center;
    padding: 100px 0 200px 0;
}   

.banner__title {
    color: #fff;
    font-size: 30px;
    margin-bottom: 30px;
}

.banner__form {
    position: relative;
}

.banner__form__input {
    width: 90%;
    padding: 15px 20px;
    border: 5px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    color: #9b9b9b;
    font-weight: 400;
}

.banner__form__submit {
    border: none;
    background-image: url('../img/search.svg'); 
    background-color: transparent;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 50px;
    top: 16px;
}
