.button {
    border-radius: 20px;
    background-color: $color-blue-dark;
    color: $color-white;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    padding: 10px 20px;
}